@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: 100%;
}

.font-noto {
	font-family: 'Noto Serif', serif;
}
.font-inter {
	font-family: 'Inter', sans-serif;
}

.background-color {
	background-color: rgb(245, 248, 255);
}
.layout {
	margin-left: 150px;
	margin-right: 150px;
}

.text-primary {
	color: #e95a08;
}
.text-light-gray {
	color: rgba(0, 0, 0, 0.5);
}
.text-black {
	color: #000000;
}
.deep-black {
	color: #252432;
}
.gray {
	color: #8987a1;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.display-flex {
	display: flex;
}
.heading {
	font-size: 50px;
	font-weight: 700;
}
.paragraph {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.5);
}
.list-item {
	margin-top: 20px;
}


.section-gap {
	margin-top: 60px;
}

.span-text {
	color: #e95a08;
}





/* Navbar styles */
.navbar {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1140px;
	height: 70px;
	margin: 30px auto;
	padding: 0 20px;
}

.nav-left-side {
	width: 135px;
	height: 82px;
}

.nav-item {
	list-style: none;
	align-items: center;
	gap: 48px;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav-link a {
	text-decoration: none;
	color: black;
}

.image-icon {
	height: 24px;
	width: 24px;
	vertical-align: middle;
	margin-right: 5px;
}
/* banner style */
.banner-container {
	width: 570px;
	height: 296px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
}
.banner-section{
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.banner-title {
	font-size: 3rem;
	height: 176px;

}
.banner-description {
	width: 570px;
	height: 108px;
	font-size: 22px;
  margin-top: 50px;
}
.banner-image {
	display: flex;
	align-items: flex-end;
	height: 400px;
	width: 570px;
}
.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* flower and plant section */

.flower-container {
	gap: 60px;
	align-items: center;
}
.badge {
	width: 286px;
	height: 286px;
	position: absolute;
	top: -100px;
	right: -90px;
	filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}
.image-container {
	position: relative;
}

/* deals */
.deals-container{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 51px;
	margin-top: 60px;
}
.deals-heading {
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.deals-heading p {
	text-align: center;
}

/* card section */

.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 28px;
	margin-top: 120px;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 16px;
	height: 200px;
	border-radius: 15px;
}

.bloom {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/deal-bloom.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.ana {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/deal-ana.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	gap: 16px;
}
.zabo {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/deal-zabo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	grid-column: 2/3;
	grid-row: 1/3;
	height: 100%;
}

.card span {
	text-decoration: underline;
}

.flower-container div {
	flex: 1;
}
.store {
	width: 100%;
}


/* join colorful branch section */

.newsletter-section{
	background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,.2)),url(../assets/news-letter-bg.png);
	height: 500px;
	background-repeat: no-repeat ;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 23px;
}
.news-letter h2{
	color: white;
}
.submission-box{
	display: flex;
	width: 70%;
}
.submission-box button{
	background-color: #e95a08;
	padding: 26px 50px;
	color: white;
	font-weight: 600;
	font-size: 16px;
	border: none;

}
.submission-box input[type="email"]{
	width: 100%;
	padding: 8px 20px;
	outline: none;
}
.submission-box input[type="email"]::placeholder{
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
}

/* our plants section */
.plant-section h2{
	justify-content: center;
	text-align: center;

}
.plants-text{
	text-align: center;
	margin-left: 126px;
	margin-right: 126px;
	gap: 16px;
}
.plant-card-container{
	width: 270px;
	height: 485px;
}

.plant-card-image{
	width: 270px;
	height: 323px;
}
        
.card-image-text{
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	color: #111111;
}
.card-image-text-second{
	font-size:22px ;
	font-weight: 600;
	text-align: center;
	color: #111111;
}
.add-to-cart{
	/* width: 270px; */
	height: 50px;
	background-color:  rgba(233, 90, 8, 1);
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding: 26px 50px 26px 50px;
	text-align: left;
	border: none;
}

.our-plant-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 49px;
	row-gap: 30px;
	column-gap: 20px;
}

/* footer section */
.footer-section{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 160px;
	margin-right: 160px;
	justify-content: space-between;

}
.logo-image{
	width: 135px;
	height: 82px;
	gap: 16px;
}
.footer-content{
	width: 359px;
	height: 80px;
	font-weight: 400;
	
	gap: 70px;
}
.footer-information{
	font-size: 16px;
	font-weight: 400;
	flex-direction: column;
	gap: 36px;
}

/* footer icon image */
.footer-icon-container{
	width: 216px;
	height: 36px;
}
.footer-icon-image{
     width: 36px;
	 height: 36px;
	 gap: 24px;
}





		


/* small device */

@media screen and (max-width: 577px) {
	.container {
	/* max-width: 450px; */
	margin: 0 15px;
}
	.layout {
		margin: 0 10px;
	}
	.navbar {
		flex-wrap: nowrap;
		padding: 0 10px;
		height: auto;
	}

	.nav-item {
		display: none; /* hide nav links */
	}

	.nav-right-side > ul {
		display: flex;
		justify-content: flex-end;
	}

	.nav-right-side > ul li:not(:last-child) {
		display: none; /* only show cart */
	}

	.nav-right-side > ul li:last-child {
		display: block;
	}

	.nav-left-side {
		height: auto;
		width: auto;
	}
	.banner-section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
		height: auto;
		text-align: center;
		padding: 0 10px;
	}

	.banner-image,
	.banner-container {
		width: 100%;
		height: auto;
		margin-top: 40px;
	}
	.banner-title {
		font-size: 2rem;
		height: auto;
	}

	.banner-description {
		font-size: 1rem;
		width: 100%;
		height: auto;
	}

	.banner-image img {
		width: 100%;
		height: auto;
	}
	.flower-container{
		flex-direction: column;
		margin-top: 42px;
		gap: 18px;
	}
	.store{
		width: 100%;
	}
	.badge{
		display: none;
	}
	.heading{
		text-align: center;
		font-size: 24px;
		margin: 0;
	}
	br{
		display: none;
	}
	.flower-list{
		padding-left: 25px;
	}
	.paragraph{
		font-size: 14px;
	}
	.list-item {
	margin-top: 16px;
}

.card-container{
	grid-template-columns: repeat(1, 1fr);
	margin-top: 46px;
}
.card{
	height: 200px;
}
.zabo{
	grid-column: auto;
	grid-row: auto;
	height: ;
}
.submission-box button{
	padding: 8px 20px;
}
.news-letter h2{
	font-size: 20px;
}
.our-plants-section{
	width: 100%;
	max-width: 393px;
	margin: 65px auto 0;
	height: auto;
	padding: 0 15px;
	}

.plants-text{
	width: 100%;
	max-width: 336px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	
	
}
.our-plant-container{
	grid-template-columns: repeat(2, 1fr);
	gap: 20px 10px;
	width: 100%;
	max-width: 362px;
	margin: 0 auto;
	height: auto;
		
}
.footer-section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 14px;
}
.logo-margin{
	margin-top: 16px;
	font-size: 16px;
}





	
	
	
}
